

body {
    font-family: 'Nunito', sans-serif !important;
    
}

/* Title */
.title {
    position: relative;
}
.title::before {
    position: absolute;
    content: '';
    background-color: #007bff; 
    width: 10px; 
    height: 10px;
    left: 68%;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.title:hover::before {
    opacity: 1;
}

/* Form */
form {
    max-width: 500px; /* Set max-width for the search bar form */
}
.navbar-brand {
    flex-grow: 1;
    text-align: center;
}
.form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* Icon */
i {
    cursor: pointer;
    
}

/* Text */
.lead {
    text-align:center
}

.lead2 {
    text-align: justify;
}

/* Image */
.card {
    width: 900px;
    height: 200px;

    
}
.card-img {
    height: 200px;
    object-fit: none;

}
